:root{
  --bg-color:#000028;
  --text-color:#F1B2CE;;
  --accent-color:#FF0070;
  --main-font:'IBM Plex Mono';
  --background-image: url(.../images/cover-image-dark.png);
  --title-color:#DB00FF;
  --low-title-color:#FF0070;
}
 